.card{
  width: auto;
  height: auto;
  margin: 40px;
  padding: 30px;
  text-align: center;
}
ion-card-title{
  font-size: 3.5rem;
}
ion-card-subtitle{
  font-size: 2em;
}
ion-card-header{
  font-size: 2.5em;
}
ion-card-content{
  font-size: 1.5em;
}
